body {
  background-color: #edf0ee;
}

.brand-title {
  color: white;
  font-family: "Anton", sans-serif;
  font-family: "Russo One", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-left: 90px;
}

#locAwesom {
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  /* position: relative; */
  justify-content: space-between;
  align-items: center;
  background-color: #2bb6f7;
  color: white;
  width: 100%;
}

.navbar-links {
  height: 100%;
  margin-right: 110px;
  font-size: 17px;
}

.vl {
  border-left: 1px solid white;
  height: 32px;
  align-items: center;
  display: flex;
  margin-top: 12px;
}

.power {
  margin-left: 10px;
  margin-top: 2px;
  display: inline-block;
}

.down1 {
  align-content: center;
  justify-content: center;
  margin-top: 25px;
}

.down2 {
  margin-right: 10px;
  align-content: center;
  justify-content: center;
  margin-left: -20px;
}

.subscribe {
  color: white;
  margin-left: -20px;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* Second Nav */

#links {
  margin-left: 90px;
  align-content: center;
  width: 90%;
}

#links .linkList {
  text-decoration: none;
}

.down3 {
  margin-left: 10px;
  color: #2bb6f7;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.fa-map-marker-alt {
  margin-top: 20px;
}

#secondNav {
  background-color: white;
  height: 50px;
}

/* spanner section */

#summerImg {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1350px;
  position: sticky;
}

#text {
  color: #636363;
}

#sign {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: "Dela Gothic One", cursive;
  font-family: "Fjalla One", sans-serif;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
}

.links {
  text-decoration: none;
  color: #3dbcf5;
}

/* cards section */

#desCard {
  background-color: white;
  border-style: hidden;
  margin-left: 80px;
  height: 530px;
  width: 300px;
  position: inherit;
}

#cardHeader {
  color: #3dbcf5;
  font-family: "Dela Gothic One", cursive;
  font-family: "Fjalla One", sans-serif;
  font-family: "Kanit", sans-serif;
  font-size: 25px;
  margin-left: 35px;
}

.hrItems {
  color: #d9dddf;
  background-color: #d9dddf;
  width: 300px;
  display: flex;
}

.item {
  list-style-type: none;
}

.card {
  flex: 0 1 24%;
  margin-top: 20px;
}

.card-image {
  width: 500px;
  height: 300px;
  border-radius: 5px 5px 0 0;
}

#imgCard {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

.cardBody,
.cardFooter {
  margin-left: 20px;
}

.cardFooter {
  margin-top: 30px;
}

#cardFooter1 {
  margin-top: 55px;
}

.cardBody {
  margin-top: 8px;
}

.cardTitle {
  font-weight: 500;
  font-size: 16px;
}

.cardText {
  color: #3dbcf5;
  margin-top: -1px;
}

#secText {
  color: #a8a8a8;
  margin-top: -10px;
}

.price2 {
  float: right;
  margin-right: 15px;
  margin-top: -10px;
  color: #3dbcf5;
  font-weight: 900;
  font-size: 20px;
  font-stretch: expanded;
}

.price1 {
  margin-left: 270px;
  color: #a8a8a8;
  /* margin-top: 80px; */
  text-decoration: line-through;
  font-size: 15px;
}

.price12 {
  margin-left: 300px;
  color: #a8a8a8;
  text-decoration: line-through;
  font-size: 15px;
}

.text-muted {
  color: #c5c5c5;
}

#discSec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 98%;
  margin-top: 20px;
}

/* Featured Section */

#featuredSec {
  margin-left: 80px;
}
#featuredText {
  font-size: 35px;
  font-weight: bold;
  color: #474747;
  font-family: "Dela Gothic One", cursive;
  font-family: "Fjalla One", sans-serif;
  font-family: "Kanit", sans-serif;
  position: absolute;
}

#firstPart {
  position: relative;
}

#featuredBtn {
  position: absolute;
  left: 200px;
  top: 12px;
}

#featuredBtn .btnFeatured {
  background-color: #59c7fa;
  width: 150px;
  height: 40px;
  border-radius: 4px;
  border: none;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

#featurSec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 98%;
  margin-top: 20px;
}

#imgCardF {
  background-color: white;
  /* height: 420px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  /* width: 270px; */
}

.card-image-F {
  width: 345px;
  height: 250px;
  border-radius: 5px 5px 0 0;
}

.price11 {
  margin-left: 200px;
  color: #a8a8a8;
  text-decoration: line-through;
  font-size: 15px;
}

.cardTitle1 {
  text-align: center;
}

.cardText1 {
  color: #2bb6f7;
  text-align: center;
}

/* Footer */
.main-footer {
  bottom: 0;
}
.containerFooter {
  border: none;
  background-color: white;
  margin-top: 20px;
}

.fa-2x {
  margin-left: 12px;
  color: #474747;
}

#textGet {
  margin-left: 12px;
  color: #474747;
}

#downloadbtn {
  margin-left: 12px;
  color: white;
  background-color: #59c7fa;
  border-radius: 4px;
  border: none;
  height: 50px;
  width: 150px;
}
